<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    <key>teamID</key>
    <string>9H2AD7NQ49</string>
    <key>uploadBitcode</key>
    <false/>
    <key>uploadSymbols</key>
    <true/>
    <key>compileBitcode</key>
    <false/>
    <key>thinning</key>
    <string>none</string>
    <key>distributionBundleIdentifier</key>
    <string>com.twinklub.twinklub</string>
    <key>uploadToAppStore</key>
    <true/>
    <key>appStoreConnectKeyIdentifier</key>
    <string>S95LCWAH99</string>
    <key>appStoreConnectKeyPath</key>
    <string>/tmp/AuthKey_S95LCWAH99.p8</string>
    <key>appStoreConnectIssuerId</key>
    <string>a99a2ebd-ed3e-4117-9f97-f195823774a7</string>
</dict>
</plist>
